body{margin:0;padding:0;background:#ffe;font-size:12px;overflow:auto}
.juli{ font-size:20px;}
#elapseClock{ font-size:18px;margin-top:10px;margin-bottom:10px} 
#elapseClock .data{font-family:"data";font-size:36px} 